<div class="container mt-5 border">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="../../../assets/img/about-us.jpg" class="img-fluid rounded shadow-lg" alt="About Us">
        </div>
        <div class="col-md-6 p-5">
            <h1 class="display-4 text-success mb-4 fw-semibold">About EmployeeEase</h1>
            <p class="lead">
                At EmployeeEase, we are dedicated to simplifying employee management, empowering businesses with a
                platform that's intuitive, efficient, and reliable.
            </p>
            <p class="text-muted">
                Our mission is to help organizations focus on what matters most – their people. With a range of powerful
                features, EmployeeEase ensures that managing employee data, tracking performance, and streamlining HR
                processes is easier than ever before.
            </p>
            <a href="#" class="btn btn-success btn-lg mt-3">Get in Touch</a>
        </div>
    </div>
</div>