<div class="row align-items-center g-lg-5 pb-5">
    <div class="col-lg-7 text-lg-start p-5">
        <h1 class="display-5 fw-semibold lh-1 text-success mb-4">Employee Registration Form</h1>
        <p class="col-lg-10 fs-4 lead text-center">Welcome to EmployeeEase's registration portal. Below, you'll find a
            streamlined
            form
            designed using Bootstrap's intuitive form controls. Each field is essential, and the form includes built-in
            validation to guide you through successful submission. Join us and make your employee management seamless
            and efficient.</p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
        <form [formGroup]="registerForm" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="first-name" placeholder="Enter your first name"
                    autocomplete="name" formControlName="firstName">
                <label for="first-name">First Name</label>
                <p *ngIf="registerForm.controls.firstName.touched && registerForm.controls.firstName.hasError('required')"
                    class="d-flex justify-content-center text-danger">
                    First name must be provided</p>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="last-name" placeholder="Enter your last name"
                    formControlName="lastName">
                <label for="last-name">Last Name</label>
                <p *ngIf="registerForm.controls.lastName.touched && registerForm.controls.lastName.hasError('required')"
                    class="d-flex justify-content-center text-danger">
                    Last name must be provided</p>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="contact" placeholder="Your contact number"
                    formControlName="contactNo">
                <label for="contact">Contact Number</label>
                <p *ngIf="registerForm.controls.contactNo.touched && registerForm.controls.contactNo.hasError('required')"
                    class="d-flex justify-content-center text-danger">
                    Contact number must be provided</p>
            </div>
            <div class="form-floating mb-1">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" autocomplete="email"
                    formControlName="email">
                <label for="email">Email address</label>
                <p *ngIf="registerForm.controls.email.touched && registerForm.controls.email.hasError('required')"
                    class="d-flex justify-content-center text-danger">
                    Email must be provided</p>
                <p *ngIf="registerForm.controls.email.touched && registerForm.controls.email.hasError('email')"
                    class="d-flex justify-content-center text-danger">
                    Enter a valid email address</p>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="address" placeholder="Your address"
                    autocomplete="address-level2" formControlName="address">
                <label for="address">Address</label>
                <p *ngIf="registerForm.controls.address.touched && registerForm.controls.address.hasError('required')"
                    class="d-flex justify-content-center text-danger">
                    Address must be provided</p>
            </div>
            <div class="form-floating mb-1">
                <select class="form-select" id="department" aria-label="Default select example"
                    formControlName="departmentId">
                    <option selected disabled>Select department</option>
                    @for (department of departments; track department.id) {
                    <option [value]="department.id">{{department.name}}</option>
                    }
                </select>
                <label for="department">Department</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="role" aria-label="Default select example" formControlName="roleId">
                    <option selected disabled>Select role</option>
                    @for (role of roles; track role.id) {
                    <option [value]="role.id">{{role.name}}</option>
                    }
                </select>
                <label for="role">Role</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="register()">Register</button>
            <hr class="my-4">
            <small class="text-body-secondary">By clicking Register, you agree to the terms of use.</small>
        </form>
    </div>
</div>