<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a routerLink="/home"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="bi me-2" src="../../../assets/img/header_img.jpg" width="45" height="45">
            <span class="fs-4">EmployeeEase</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link active"
                    aria-current="page">Home</a></li>
            <li class="nav-item"><a routerLink="/register" class="nav-link">Register</a></li>
            <li class="nav-item"><a routerLink="/manage" class="nav-link">Manage</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>
    </header>
</div>