<h2 class="text-center mb-5 mt-2">Manage Employees with ease!</h2>

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Contact no</th>
            <th>Email</th>
            <th>Address</th>
            <th>Department id</th>
            <th>Role id</th>
        </tr>
    </thead>
    <tbody>
        @for (employee of employees; track employee.email) {
        <tr>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.contactNo}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.departmentId}}</td>
            <td>{{employee.roleId}}</td>
        </tr>
        }
    </tbody>
</table>